<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RM_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppenderOutput" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\RM\Log.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="header" value="-----------------------====START====----------------------- 
"/>
        <param name="footer" value="------------------------====END====------------------------ 
"/>
        <conversionPattern value="%date [%thread] %-5level   - %c %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--
      - FATAL
      - ERROR
      - WARN
      - INFO
      - DEBUG
      -->
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppenderOutput"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <RM_Server.Properties.Settings>
      <setting name="PortName" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>Two</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>9800</value>
      </setting>
    </RM_Server.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>
